<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <link href="{{url_for('static', filename='js/chess-dataviz/dist/ChessDataViz.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
    <title></title>
</head>
<body>

<title>Let's get some chess analysis shizzle up in this bizzle!</title>

<h2>Input regex for ECOs you'd like analysed</h2>
<form action="." method="POST">
    <input type="text" name="text">
    <input type="submit" name="my-form" value="Send">
</form>

<script type=text/javascript src="{{url_for('static', filename='test.js') }}"></script>

<script src="{{url_for('static', filename='js/chess-dataviz/dist/ChessDataViz.min.js')}}"></script>

<script>
    d3.json('https://ebemunk.github.io/chess-dataviz/data/wrc.json', function (err, data) {
        console.log(data);
        var hm = new ChessDataViz.HeatMap('#hm', null, data.heatmaps.squareUtilization);
    });
</script>

<div id="hm" class="cdv-heatmap">
    <p>The graph should appear here</p>
</div>

</body>
</html>