<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <link href="{{url_for('static', filename='js/chess-dataviz/dist/ChessDataViz.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
    <title></title>
</head>
<body>

<title>Hello from Flask</title>
{% if name %}
<h1>Hello {{ name }}!</h1>
{% else %}
<h1>Hello World!</h1>
{% endif %}

<form name="myform" onSubmit="return handleClick()">
    <input name="Submit" type="submit" value="Do a search">
    <input type="text" id="regexinput" placeholder="B02.*">
</form>
<button id="w-btn" class="button button-primary">White</button>
<button id="b-btn" class="button">Black</button>
<select id="piece-select">
    <option value="all">All</option>
    <option value="p">Prawns</option>
    <option value="n">Horses</option>
    <option value="b">Priests</option>
    <option value="r">Castles</option>
    <option value="q">Queens</option>
    <option value="k">Kings</option>
</select>

<div id="hm" class="cdv-heatmap">
    <p>The graph should appear here</p>
</div>

<script type=text/javascript src="{{url_for('static', filename='test.js') }}"></script>

<script src="{{url_for('static', filename='js/chess-dataviz/dist/ChessDataViz.min.js')}}"></script>

<script>
    var regex = null;

    function handleClick(event) {
        console.log(document.getElementById("regexinput").value);
        draw(document.getElementById("regexinput").value);
        return false;
    }

    function draw(regex) {
        var url = 'http://127.0.0.1:5000/regex/' + regex;
        d3.json(url, function (err, data) {
            console.log(data);
            var hm = new ChessDataViz.HeatMap('#hm', null, data.heatmap);

            var wButton = d3.select('#w-btn');
            var bButton = d3.select('#b-btn');
            var pieceSelector = d3.select('#piece-select');

            function getSelectedPiece() {
                return d3.select("#piece-select").node().value;
            }

            function getSelectedColour() {
                console.log("wButton class:");
                console.log(wButton.attr("class"));
                if (wButton.attr("class").indexOf("button-primary") > -1) {
                    return "w"
                } else {
                    return "b"
                }
            }

            function refreshCanvas() {
                var settings = {
                    accessor: {
                        color: getSelectedColour(),
                        piece: getSelectedPiece()
                    }
                };
                hm.options(settings);
            }

            pieceSelector.on('click', function () {
                refreshCanvas();
            });

            wButton.on('click', function () {
                wButton.classed('button-primary', true);
                bButton.classed('button-primary', false);
                refreshCanvas();
            });

            bButton.on('click', function () {
                wButton.classed('button-primary', false);
                bButton.classed('button-primary', true);
                refreshCanvas();
            });
        });
    }

</script>

<!--<script>
    d3.json('https://ebemunk.github.io/chess-dataviz/data/wrc.json', function (err, data) {
        console.log(data);
        var hm = new ChessDataViz.HeatMap('#hm', null, data.heatmaps.squareUtilization);
    });
</script>-->

</body>
</html>